@font-face{
    font-family: Custom;
    src: url(MyriadPro-Regular.otf);
}

body {
    padding-top: 0;
    background-image: url(../landing/img/intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

/* Bordered form */

form {
    background-color: aliceblue;
    display: inline-block;
    border: 3px  #f1f1f1;
    border-style:groove;
    height: 160%; !important
    width: 25%;
    padding: 4%;
}

label{
    font-family: Custom;
}


/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 9px 9px;
    background-color: #f44336;
}
.submitbtn {
    width: auto;
    padding: 9px 9px;
    background-color: deepskyblue;
    margin-left: 45%;
}


.loginForm{
    position: absolute;
    margin-top: 15%;
    margin-left:39%;
    width: 70%;
}
.btn{
    padding: 1%;
    margin-bottom: 0;
}

    

